.banner {
    font-size: 32px;
    font-weight: bold;
    margin: 20px 0;
}

.button-container {
    display: flex;
    gap: 5px;
}

.scores-container {
    background-color: rgb(40, 35, 87);
    color: #f0f0f0;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    max-width: 600px;
    padding: 5px;
    margin: 5px 0 0;
}

.player-score {
    margin-right: auto;
    min-width: 1em;
}

.opponent-score {
    min-width: 1em;
}

.results-container {
    min-height: 250px;
    background-color: darkslategrey;
    color: #f0f0f0;
    max-width: 600px;
    padding: 5px;
    margin: 0 0 5px;
}